# Large files
*.mat

# Python stuff
__pycache__

# extra folders
.vscode

# JUCE stuff
Builds
BinaryData.h
BinaryData*.cpp
JuceLibraryCode

# Windows Temp files
[Tt]humbs.db

# macOS garbage
.DS_Store
*.DS_Store
*.swp
*~

# Tex artifacts
*.synctex.gz
*.synctex(busy)
*.aux
*.bbl
*.blg
*.out
*.log
