<!DOCTYPE html>
<html lang="en">
<body>
    <h1>Waterbottle Modal Analysis</h1>
    <p>
        Other links:<br>
        <a href="https://github.com/jatinchowdhury18/modal-waterbottles">GitHub</a><br>
        <a href="https://ccrma.stanford.edu/~jatin/Waterbottles">Audio Examples</a><br>
        <a href="./database">Database</a><br>
    </p>
    <h2>Choose a file to analyze</h2>
    <form action="." method="POST" enctype="multipart/form-data">
        <input type="file" name="file"/>
        <input type="submit" value="Upload"/>
    </form><br></br>
    <audio controls>
        <source src="{{ actual_audio }}">
    </audio><br></br>
    <img src="{{ measurement }}"/>
    <form action="." method="POST">
        <input type="submit" value="Analyze"/>
    </form><br></br>
    <audio controls>
        <source src="{{ synth_audio }}">
    </audio><br></br>
    <img src="{{ synthesized }}"/>
    <form action="/download">
        <input type="submit" value="Download"/>
    </form>
</body>
</html>
